<% include ../partials/header %>

<h3>Subject tree in database:</h3>

<form>
	
</form>

<ul>
	<% categories.forEach(function(category) { %>
		<li>
			<div class="subjListColorDiv" style="background: <%= category.categoryColor %>"></div>
			<h3 class="subjListHeader"><%= category.categoryName %><h3>
		</li>
	<ul>
		<% category.subjectGroups.forEach(function(subjectGroup) { %>
			<li>
				<div class="subjListColorDiv" style="background: <%= subjectGroup.subjectGroupColor %>"></div>
				<h4 class="subjListHeader"><%= subjectGroup.subjectGroupName %></h4>
			</li>
			<ul>
				<% subjectGroup.subjects.forEach(function(subject) { %>
					<li>
						<div class="subjListColorDiv" style="background: <%= category.categoryColor %>"></div>
						<div class="subjListColorDiv" style="background: <%= subjectGroup.subjectGroupColor %>"></div>
						<div class="subjListColorDiv" style="background: <%= subject.subjectColor %>"></div>
						<h5 class="subjListHeader"><%= subject.subjectName %></h5>
					</li>
				<% }); %>
			</ul>
		<% }); %>
	</ul>
	<% }); %>
</ul>


<br>
<br>
<br>

<% include ../partials/footer %>