<% include ../partials/header %>

<h3>Update Subject - <%= subject.subjectName %></h3>

<hr>

<form action="/tree/subjects/<%= subject._id %>?_method=PUT" method="POST" id="updateSubject">
	<h4>Change name</h4>
	<label><%= subject.subjectName %></label>	
	<input type="text" name="subject[subjectName]" value="<%= subject.subjectName %>">
	<h4>Change colour</h4>
	<label><%= subject.subjectColor %></label>	
	<input type="text" name="subject[subjectColor]" value="<%= subject.subjectColor %>">
	<input type="submit" value="Submit"></input>
</form>

<% include ../partials/footer %>