<% include ../partials/header %>

<a href="/tree" class="btn">Back</a>

<h3>Update Subject Group - <%= subjectGroup.subjectGroupName %></h3>

<hr>

<form action="/tree/subjectGroups/<%= subjectGroup._id %>?_method=PUT" method="POST" id="updateSubjectGroup">
	<h4>Change name</h4>
	<label><%= subjectGroup.subjectGroupName %></label>	
	<input type="text" name="subjectGroup[subjectGroupName]" value="<%= subjectGroup.subjectGroupName %>">
	<h4>Change colour</h4>
	<label><%= subjectGroup.subjectGroupColor %></label>	
	<input type="text" name="subjectGroup[subjectGroupColor]" value="<%= subjectGroup.subjectGroupColor %>" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" id="colorString">
	<button type="button" onclick="
		var newColor = randomColor();
		$('#newColorDiv').css('background', newColor); 
		$('#colorString').attr('value', newColor);
			">Randomize colour </button><div id="newColorDiv" class="subjListColorDiv" style="background: <%= subjectGroup.subjectGroupColor %>"></div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js"></script>
	<br>
	<input type="submit" value="Submit"></input>

	<textarea class="newFindingTextArea" name="subjectGroup[description]"><%= subjectGroup.description %></textarea>

	<h4>Contains Subjects:</h4>
	<% subjectGroup.subjects.forEach(function(subject) { %>
		<input type="checkbox" checked="checked" name="subjectGroup[subjects]" value="<%= subject._id %>"><%= subject.subjectName %></input><br>
	<% }); %>

	<% for(var i = subjects.length; i >= 0; i--) {
		for(var j = 0; j < subjectGroup.subjects.length; j++) {
			if(subjects[i] && (subjects[i].subjectName === subjectGroup.subjects[j].subjectName)) {
				subjects.splice(i, 1);
			}
		}
	}
	subjects.sort(function(a,b) {return (a.subjectName > b.subjectName) ? 1 : ((b.subjectName > a.subjectName) ? -1 : 0);} );
	subjects.forEach(function(subject) { %>
		<input type="checkbox" name="subjectGroup[subjects]" value="<%= subject._id %>"><%= subject.subjectName %></input><br>
	<% }); %>

</form>

<% include ../partials/footer %>