<% include ../partials/header %>

<script type="text/javascript" src="/js/Countable.js"></script>
<script type="text/javascript" src="/js/newFinding.js"></script>

<h3>Edit a Finding</h3>
<hr />

<form action="/findings/<%= finding._id %>?_method=PUT" method="POST" id="editFindingForm">
	<h4>Title</h4>
	<input class="newFindingTextField" type="text" name="finding[title]" placeholder="A single sentence stating the main finding of the work, sufficient to give the lay reader an idea of the background and implications of the finding" value="<%= finding.title %>">

	<label for="newCategory"><h4>Category: </h4></label>
	<select name="finding[category]" id="newCategoryList">
		<option value="" disabled>Select from list</option>
		<option value="Natural sciences">Natural sciences</option>
		<option value="Social sciences">Social sciences</option>
		<option value="Behavioural sciences">Behavioural sciences</option>
		<option value="Applied sciences">Applied sciences</option>
	</select>

	<label for="newSubject"><h4>Subject: </h4></label>
	<select name="finding[subject]" id="newSubjectList">
		<option value="" disabled>Select from list</option>
		<% include ../partials/subjectlist %>
	</select>

	<span><a href="#">Missing your subject? Report it here</a></span>

	<br />
	<label for="newKeywords"><h4>Keywords: </h4></label>
	<select id="editKeywords" multiple name="finding[keywords]" data-role="tagsinput" placeholder="Enter keyword(s)">
	</select>

	<!-- Assigns the existing keywords array to keywords tag field on document ready -->
	<script>
		$(document).ready(function() {
			var keywords = [];
			<% finding.keywords.forEach(function(result) { %>
				keywords.push("<%= result %>");
			<% }); %>
			keywords.forEach(function(result) {	
				$('#editKeywords').tagsinput('add', result);
			});

			$('#newCategoryList').children().each(function() {
				if($(this).attr('value') == "<%= finding.category %>") {
					$(this).attr('selected', 'selected');
				}
			});
			$('#newCategoryList').trigger('change');
			$('#newSubjectList').children().children().each(function() {
				if($(this).attr('value') == "<%= finding.subject %>") {
					$(this).attr('selected', 'selected');
				}
			});
		});
	</script>


	<hr />

	<h4>Background
		<span class="wordCountSpan"><span id="newBackgroundWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea id="newBackgroundTextArea" class="newFindingTextArea" name="finding[background]" form="editFindingForm" placeholder="Enter a summary of the article's Introduction in plain English"><%= finding.background %></textarea>

	<h4>Findings
		<span class="wordCountSpan"><span id="newFindingsWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea id="newFindingsTextArea" class="newFindingTextArea" name="finding[findings]" form="editFindingForm" placeholder="Enter a summary of the article's findings in plain English"><%= finding.findings %></textarea>

	<h4>Implications
		<span class="wordCountSpan"><span id="newImplicationsWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea id="newImplicationsTextArea" class="newFindingTextArea" name="finding[implications]" form="editFindingForm" placeholder="Enter a summary of the implications of the article's findings in plain English"><%= finding.findings %></textarea>

	<h4>Accompanying image</h4>
	<input type="url" class="newFindingTextField" name="finding[image]" placeholder="Enter the URL of a visual abstract or other appropriate image to include with the article's findings" value="<%= finding.image %>">
	<hr />

	<h4>Details of original research article</h4>
	<label for="newOriginalCitation" class="twoLineLabel">
		<h5 class="labelInline">Publication details</h5>
		<h5 class="labelInfo">format: Surname AB (Year), Title, Full Journal Name, Volume : First Page - Last Page</h5>
	</label>
	<input type="text" name="finding[citation]" placeholder="Publication details of original research article" class="newFindingTextField" value="<%= finding.citation %>">
	<br>
	<label for="newOriginalCitationLink" class="twoLineLabel">
		<h5 class="labelInline">Link</h5>
		<h5 class="labelInfo">please be mindful of any copyright limitations that may apply to your link</h5>
	</label>
	<input type="url" name="finding[citationLink]" placeholder="URL of original article" class="newFindingTextField" value="<%= finding.citationLink %>">
	<br>

	<label for="newOriginalCitationDOI" class="twoLineLabel">
		<h5 class="labelInline">DOI (Digital Object Identifier)</h5>
		<h5 class="labelInfo"></h5>
	</label>
	<input type="text" name="finding[citationDOI]" placeholder="DOI of original article" class="newFindingTextField" value="<%= finding.citationDOI %>">
	<br>

	<hr />

	<label for="newPrecededBy"><h4>Preceded by: </h4></label>
	<input name="newPrecededBy" data-role="tagsinput" placeholder="Article title">
	<hr />


	<button class="btn btn-primary" form="editFindingForm" value="submit">Submit</button>
	<a class="btn btn-danger" href="/findings">Cancel</a>

</form>


<% include ../partials/footer %>