<% include ../partials/header %>

<script type="text/javascript" src="/js/countable.js"></script>
<script type="text/javascript" src="/js/newfinding.js"></script>

<h3>Edit a Finding</h3>
<hr />

<form action="/findings/<%= finding._id %>?_method=PUT" method="POST" id="editFindingForm">
	<h4>Title</h4>
	<input class="newFindingTextField" type="text" name="finding[title]" placeholder="A single sentence stating the main finding of the work, sufficient to give the lay reader an idea of the background and implications of the finding" value="<%= finding.title %>">

	<% include ../partials/categoryGroupSubjectDropdowns %>

	<br />
	<label for="newKeywords"><h4>Keywords </h4></label>
	<select id="editKeywords" multiple name="finding[keywords]" data-role="tagsinput" placeholder="Enter keyword(s)"></select>
	<h4 class="tagInfo">(use 'Enter' to separate keywords)</h4>

	<!-- Assigns the existing keywords array to keywords tag field on document ready -->
	<script>
		$(document).ready(function() {
			var keywords = [];
			<% finding.keywords.forEach(function(result) { %>
				keywords.push("<%= result %>");
			<% }); %>
			keywords.forEach(function(result) {	
				$('#editKeywords').tagsinput('add', result);
			});

			$('#newCategoryList').children().each(function() {
				if($(this).attr('value') == "<%= finding.category %>") {
					$(this).attr('selected', 'selected');
				}
			});
			$('#newCategoryList').trigger('change');
			$('#newSubjectGroupList').children().each(function() {
				if($(this).attr('value') == "<%= finding.subjectGroup %>") {
					$(this).attr('selected', 'selected');
				}
			});
			$('#newSubjectGroupList').trigger('change');
			$('#newSubjectList').children().each(function() {
				if($(this).attr('value') == "<%= finding.subject %>") {
					$(this).attr('selected', 'selected');
				}
			});
		});
	</script>


	<hr />

	<h4>Background
		<span class="wordCountSpan"><span id="newBackgroundWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea id="newBackgroundTextArea" class="newFindingTextArea" name="finding[background]" form="editFindingForm" placeholder="Enter a summary of the article's Introduction in plain English"><%= finding.background %></textarea>

	<h4>Findings
		<span class="wordCountSpan"><span id="newFindingsWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea id="newFindingsTextArea" class="newFindingTextArea" name="finding[findings]" form="editFindingForm" placeholder="Enter a summary of the article's findings in plain English"><%= finding.findings %></textarea>

	<h4>Implications
		<span class="wordCountSpan"><span id="newImplicationsWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea id="newImplicationsTextArea" class="newFindingTextArea" name="finding[implications]" form="editFindingForm" placeholder="Enter a summary of the implications of the article's findings in plain English"><%= finding.findings %></textarea>

	<h4>Accompanying image</h4>
	<input type="url" class="newFindingTextField" name="finding[image]" placeholder="Enter the URL of a visual abstract or other appropriate image to include with the article's findings" value="<%= finding.image %>">
	<hr />


<!-- Citation details -->

	<h4>Details of original research article</h4>
	<div class="row">
		<div class="citationDiv col">
			<label for="finding[citation][authors]"><h5>Author(s)</h5></label>
			<select required multiple id="citationAuthors" name="finding[citation][authors]" data-role="tagsinput" placeholder="Surname & initial(s)"></select>
			<h5 class="tagInfo">e.g. <strong>Darwin C</strong> (use 'Enter' to separate each author)</h5>
		</div>
	</div>
	<div class="row">
		<div class="citationDiv col col-lg-8 col-md-10 col-sm-12">
			<label for="finding[citation][title]" class="twoLineLabel">
				<h5 class="labelInline">Article title</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input required type="text" name="finding[citation][title]" placeholder="Title of original article" class="newFindingTextField" value="<%= finding.citation.title %>">

			<label for="finding[citation][journal]" class="twoLineLabel">
				<h5 class="labelInline">Journal title</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input required type="text" name="finding[citation][journal]" placeholder="Name of scientific journal" class="newFindingTextField" value="<%= finding.citation.journal %>">

			<label for="finding[citation][year]" class="twoLineLabel">
				<h5 class="labelInline">Year of publication</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input required type="text" name="finding[citation][year]" placeholder="Year" class="newFindingSmallTextField" value="<%= finding.citation.year %>">

			<label for="finding[citation][location]" class="twoLineLabel">
				<h5 class="labelInline">Location in journal, in format <strong>volume(issue):location</strong> - e.g. <strong>5(1):49-52</strong> 
				<a href="http://www.scientificstyleandformat.org/Tools/SSF-Citation-Quick-Guide.html">(more info on citation format)</a></h5>
			</label>
			<input required type="text" name="finding[citation][location]" placeholder="Location" class="newFindingSmallTextField" value="<%= finding.citation.location %>">

			<label for="finding[citation][link]" class="twoLineLabel">
				<h5 class="labelInline">Link to original publication</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input type="url" name="finding[citation][link]" placeholder="URL of original article" class="newFindingTextField" value="<%= finding.citation.link %>%>">

			<label for="finding[citation][DOI]" class="twoLineLabel">
				<h5 class="labelInline">DOI (Digital Object Identifier)</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input required type="text" name="finding[citation][DOI]" placeholder="DOI of original article" class="newFindingTextField" value="<%= finding.citation.DOI %>">
		</div>
		<div class="col col-lg-4 col-md-2 col-sm-0"></div>
	</div>

	<hr />


	<!-- Assigns the existing keywords array to keywords tag field on document ready -->
	<script>
		$(document).ready(function() {
			var citation_authors = [];
			<% finding.citation.authors.forEach(function(result) { %>
				citation_authors.push("<%= result %>");
			<% }); %>
			citation_authors.forEach(function(result) {	
				$('#citationAuthors').tagsinput('add', result);
			});
		});
	</script>


<!-- Preceded by -->

	<label for="finding[precededBy]"><h4>Preceded by: </h4></label>
		<% if(finding.precededBy) {
			finding.precededBy.forEach(function(result) { %>
				<div class="precedentTitle">
					<input type="checkbox" checked="checked" name="finding[precededBy]" value="<%= result._id %>"> 
						<%= result.title %>
						<br>
						<%= result.citation.full %>
					</input>
				</div>
			<% });
		} %>
		<div id="precedentFindings"></div>
		<input id="precedingID" type="text" placeholder="Preceding article ID">
		<div class="btn btn-primary" id="precedentSearchBtn">Add</div>
		<div id="precedingSearchWarning" class="findingSearchWarning"></div>
	<hr />


<!-- Followed by -->

	<label for="finding[followedBy]"><h4>Followed by: </h4></label>
		<% if(finding.followedBy) {
			finding.followedBy.forEach(function(result) { %>
				<div class="precedentTitle">
					<input type="checkbox" checked="checked" name="finding[followedBy]" value="<%= result._id %>"> 
						<%= result.title %>
						<br>
						<%= result.citation.full %>
					</input>
				</div>
			<% });
		} %>
		<div id="followingFindings"></div>
		<input id="followingID" type="text" placeholder="Following article ID">
		<div class="btn btn-primary" id="followingSearchBtn">Add</div>
		<div id="followingSearchWarning" class="findingSearchWarning"></div>
	<hr />


<!-- Submit btn -->

	<button class="btn btn-primary" form="editFindingForm" value="submit" id="submitBtn">Submit</button>
	<a class="btn btn-danger" href="/findings">Cancel</a>

</form>

<% include ../partials/footer %>