<% include ../partials/header %>

<% if( (currentUser && currentUser.isScientist === true && !finding.postAuthor.id) 
	|| (finding.postAuthor.id && finding.postAuthor.id.equals(currentUser._id)) )
{ %>
	<div class="shownFindingBtns">
		<a href="/findings/<%= finding._id %>/edit" class="btn btn-warning">Edit</a>
		<form action="/findings/<%= finding._id %>?_method=DELETE" method="POST" class="inlineForm">
			<button class="btn btn-danger">Delete</button>
		</form>
	</div>
<% } %>

<div class="row">
	<div class="col col-sm-9 col-xs-12">
		<h4 class="shownTitle shownBox"><%= finding.title %></h4>
		<h4 class="shownHeader">Background</h4>
		<p class="shownP shownBox"><%= finding.background %></p>
		<h4 class="shownHeader">Findings</h4>
		<p class="shownP shownBox"><%= finding.findings %></p>
		<h4 class="shownHeader">Implications</h4>
		<p class="shownP shownBox"><%= finding.implications %></p>
	</div>
	<div class="col col-sm-3 col-xs-12 infoPane shownBox">
		<h4 class="infoPaneLabel">Subject</h4>
		<h4 class="infoPaneInfo"><a href="/findings/s?subject=<%= finding.subject %>"><%= finding.subject %></a></h4>
		<br />
		<h4 class="infoPaneLabel">Keywords</h4>
			<% if(finding.keywords) {
				for(var i = 0; i < finding.keywords.length; i++) { %>
					<h4 class="infoPaneInfo"><a href="/findings/k?keyword=<%= finding.keywords[i] %>"><%= finding.keywords[i] %></a></h4>
			<% }} %>
		<br />
		<h4 class="infoPaneLabel">Posted by</h4>
		<h4 class="infoPaneInfo"><a href="/findings/p?postAuthor=<%= finding.postAuthor.username %>"><%= finding.postAuthor.username %></a></h4>
		<br />
		<h4 class="infoPaneLabel">Posted on</h4>
		<h4 class="infoPaneInfo"><a href="#"><%= finding.datePosted.toDateString() %></a></h4>
	</div>
</div>

<br />

<img class="shownImage shownBox" src="<%= finding.image %>">

<hr />

<h4>Details of original research article:</h4>
<span class="showCitationInfo"><%= finding.citation %></span>

<% if(finding.citationLink) { %>
	<h4>Link to original research publication</h4>
	<span class="showCitationInfo"><a href="<%= finding.citationLink %>"><%= finding.citationLink %></a></span>
<% } %>

<% if(finding.citationDOI) { %>
	<h4>Digital Object Identifier (DOI) of original research publication</h4>
	<a href="https://dx.doi.org/<%= finding.citationDOI %>"><span class="showCitationInfo"><%= finding.citationDOI %></span></a>
<% } %>

<hr />

<h4>Comments</h4>
<a class="btn btn-primary" href="/findings/<%= finding._id %>/comments/new">Add new comment</a>
<% finding.comments.forEach(function(comment){ %>
	<div class="shownComment">
		<div class="shownCommentText"><%= comment.text %></div>
		<div class="shownCommentInfo">
			<div class="shownCommentAuthorDateDiv">
				<%= comment.author.username %> - <span class="shownCommentPostedDate"><%= comment.datePosted.toDateString() %></span>
			</div>
			<div class="shownCommentButtonsDiv">
				<% if( (currentUser && !comment.author.id) 
					|| (currentUser && comment.author.id.equals(currentUser._id)) )
				{ %>
				<form action="/findings/<%= finding._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="inlineForm">
					<button class="btn btn-xs btn-danger">Delete</button>
				</form>
				<a class="btn btn-xs btn-warning" href="/findings/<%= finding._id %>/comments/<%= comment._id %>/edit">Edit</a>
				<% } %>
			</div>

		</div>
	</div>
<% }); %>

<% include ../partials/footer %>
