<% include ../partials/header %>

<% if(currentUser) {
	if(currentUser.isScientist || currentUser.isAdministrator) { %>

	<div class="shownFindingBtns">
		<a href="/findings/<%= finding._id %>/edit" class="btn btn-warning">Edit</a>

		<% if(currentUser.isAdministrator) { %>

			<button class="btn btn-danger" onclick="showDeleteConfirmation();">Delete</button>
				<script type="text/javascript">
					showDeleteConfirmation = function() {
						$('#deleteConfirmationDiv').show('fast');
					}
				</script>

			<div id="deleteConfirmationDiv" hidden>
				<button class="btn btn-success" onclick="$('#deleteConfirmationDiv').hide('fast');">Cancel</button>
				<form action="/findings/<%= finding._id %>?_method=DELETE" method="POST" class="inlineForm">
					<button class="btn btn-danger">Confirm</button>
				</form>
				<span>Are you sure you want to entirely delete this Finding?</span>
			</div>
		
		<% } %>	

	</div>
<% }} %>

<div class="row">
	<div class="col col-sm-9 col-xs-12">
		<h4 class="shownTitle"><%= finding.title %></h4>
		<h4 class="shownHeader">Background</h4>
		<p class="shownP shownBox"><%= finding.background %></p>
		<h4 class="shownHeader">Findings</h4>
		<p class="shownP shownBox"><%= finding.findings %></p>
		<h4 class="shownHeader">Implications</h4>
		<p class="shownP shownBox"><%= finding.implications %></p>
	</div>
	<div class="col col-sm-3 col-xs-12 infoPane">
		<h4 class="infoPaneLabel">Subject</h4>
		<h4 class="infoPaneInfo"><a href="/findings/s?subject=<%= finding.subject.subjectName %>"><%= finding.subject.subjectName %></a></h4>
		<br />
		<h4 class="infoPaneLabel">Keywords</h4>
			<% if(finding.keywords) {
				for(var i = 0; i < finding.keywords.length; i++) { %>
					<h4 class="infoPaneInfo"><a href="/findings/k?keyword=<%= finding.keywords[i] %>"><%= finding.keywords[i] %></a></h4>
			<% }} %>
		<br />

		<% if(finding.image) { %>
			<div class="imageThumbnail">
				<img class="shownImage shownBox" src="<%= finding.image %>">		
			</div>
			<div class="zoomedImageDiv" hidden>
				<img class="zoomedImage shownBox" src="<%= finding.image %>">	
				<button class="closeZoomedImageBtn btn btn-primary" onclick="closeZoomedImage();">X</button>
			</div>
			
			<script type="text/javascript">
				$('.imageThumbnail').click(function() {
					$('.zoomedImageDiv').show('fast');
				});
				function closeZoomedImage() {
					$('.zoomedImageDiv').hide('fast');
				}
			</script>

		<% } %>

		<h4 class="infoPaneLabel">Posted by</h4>
		<h4 class="infoPaneInfo"><a href="/users/?username=<%= finding.postAuthor.username %>"><%= finding.postAuthor.username %></a></h4>
		<h4 class="infoPaneInfo">on <%= finding.datePosted.toDateString() %></h4>
		<br />
		<h4 class="infoPaneLabel">Article ID</h4>
		<h4 class="infoPaneInfo"><%= finding.shortID %></h4>
	</div>
</div>

<hr />

<!--				CITATION 	 							-->

<h4>Details of original research article:</h4>
<span class="showCitationInfo"><%= finding.citation.full %></span>

<% if(finding.citationLink) { %>
	<h4>Link to original research publication</h4>
	<span class="showCitationInfo"><a href="<%= finding.citationLink %>"><%= finding.citationLink %></a></span>
<% } %>

<% if(finding.citationDOI) { %>
	<h4>Digital Object Identifier (DOI) of original research publication</h4>
	<a href="https://dx.doi.org/<%= finding.citationDOI %>"><span class="showCitationInfo"><%= finding.citationDOI %></span></a> 
<% } %>

<hr />


<!--				THREAD MAP								-->

<h4 class="threadMapLink"><a href="/threads/5&<%= finding._id %>"><img src="/img/ThreadNetworkIcon.png">View the Thread Network for this Finding</a></h4>
<hr />

<!--				PRECEDED BY 							-->

<% if(finding.precededBy.length > 0) { %>

	<h4>Preceded by:</h4>
	<% finding.precededBy.forEach(function(finding) { %>
		<% include ../partials/indexedFinding %>
	<% }); %>

	<hr />

<% } %>



<!--				FOLLOWED BY 							-->

<% if(finding.followedBy.length > 0) { %>

	<h4>Followed by:</h4>
	<% finding.followedBy.forEach(function(finding) { %>
		<% include ../partials/indexedFinding %>
	<% }); %>

	<hr />

<% } %>



<!--				COMMENTS 								-->

<h4>Comments</h4>
<a class="btn btn-primary" href="/findings/<%= finding._id %>/comments/new">Add new comment</a>
<% finding.comments.forEach(function(comment){ %>
	<div class="shownComment">
		<div class="shownCommentText"><%= comment.text %></div>
		<div class="shownCommentInfo">
			<div class="shownCommentAuthorDateDiv">
				<a href="/users/?username=<%= comment.author.username %>"><%= comment.author.username %></a> - <span class="shownCommentPostedDate"><%= comment.datePosted.toDateString() %></span>
			</div>
			<div class="shownCommentButtonsDiv">
				<% if( (currentUser && !comment.author.id) 
					|| (currentUser && comment.author.id.equals(currentUser._id)) 
					|| (currentUser && currentUser.isAdministrator))
				{ %>
				<form action="/findings/<%= finding._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="inlineForm">
					<button class="btn btn-xs btn-danger">Delete</button>
				</form>
				<a class="btn btn-xs btn-warning" href="/findings/<%= finding._id %>/comments/<%= comment._id %>/edit">Edit</a>
				<% } %>
			</div>

		</div>
	</div>
<% }); %>

<% include ../partials/footer %>
