<div class="subjListDropdown">
	<label for="finding[category]" class="subjListDropdownLabel"><h4>Category</h4></label>
	<select required name="finding[category]" id="newCategoryList">
		<option value="" disabled selected>Select from list</option>
		<% categories.forEach(function(category) { %>
			<option value="<%= category._id %>"><%= category.categoryName %></option>
		<% }); %>
	</select>
</div>

<div class="subjListDropdown">
	<label for="finding[subjectGroup]" class="subjListDropdownLabel"><h4>Group</h4></label>
	<select required name="finding[subjectGroup]" id="newSubjectGroupList">
		<option value="" disabled selected>Select from list</option>
		<% categories.forEach(function(category) { %>
			<% var cat = category.categoryName; %>
			<% category.subjectGroups.forEach(function(subjectGroup) { %>
				<option data-category="<%= cat %>" value="<%= subjectGroup._id %>" label="<%= subjectGroup.subjectGroupName %>"><%= subjectGroup.subjectGroupName %></option>
			<% }); %>
		<% }); %>
	</select>
</div>

<div class="subjListDropdown">
	<label for="finding[subject]" class="subjListDropdownLabel"><h4>Subject</h4></label>
	<select required name="finding[subject]" id="newSubjectList">
		<option value="" disabled selected>Select from list</option>
		<% categories.forEach(function(category) { %>
			<% category.subjectGroups.forEach(function(subjectGroup) { %>
				<% var group = subjectGroup.subjectGroupName; %>
				<% subjectGroup.subjects.forEach(function(subject) { %>
					<option data-group="<%= group %>" value="<%= subject._id %>" label="<%= subject.subjectName %>"><%= subject.subjectName %></option>
				<% }); %>
			<% }); %>
		<% }); %>
	</select>

	<span>Missing your subject? <a id="showAddDiv" href="#">Add it to the database</a></span>

	<div class="addSubjectDiv hiddenDiv">
		<label for="subject[subjectName]" class="subjListDropdownLabel"><h4>New subject</h4></label>
		<input disabled=true class="" type="text" name="newSubject[subjectName]" id="newSubjectName" placeholder="Name of new subject">
		<input hidden type="text" name="newSubject[subjectColor]" id="newSubjectColor" value="#555555"></input>
		<div class="btn btn-primary" id="addSubjectBtn">Add</div>
		<div id="addSubjectWarning" class="findingSearchWarning"></div>
	</div>


</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js"></script>
<script type="text/javascript">
	$('#showAddDiv').click(function() {
		$('.addSubjectDiv').toggle('fast');
		var newColor = randomColor();
		$('#newSubjectColor').attr('value', newColor);
	});
</script>