		<% allSubjects.forEach(function(category) { %>
			<optgroup value="<%= category.categoryName %>"><%= category.categoryName %>
			<% category.subjectGroups.forEach(function(subjectGroup) { %>
				<optgroup value="<%= category.categoryName %>" label="<%= subjectGroup.subjectGroupName %>">
				<% for(var i = 0; i < subjectGroup.subjects.length; i++) { %>
					<option value="<%= subjectGroup.subjects[i] %>"><%= subjectGroup.subjects[i] %></option>
				<% } %>
				</optgroup>
			<% }) %>
			</optgroup>
		<% }) %>