<% include partials/header %>

<h3>Welcome to WikiFindings - the dynamic repository of lay summaries of research articles.</h3>

<a class="btn btn-primary" href="/findings/new">Post new finding</a>

<br/>
<br/>
<br/>

<h3>Recent findings</h3>
<% findings.forEach(function(finding){ %>

	<div class="fThumbDiv">
		<div class="fThumbSubject"><%= finding.subject %></div>
		<div class="fThumbTags">keywords: 
			<% if(finding.keywords) {
				for(var i = 0; i < 5; i ++) {
					if(finding.keywords[i]) { %>
						<%= finding.keywords[i]; %>
						<% if(i < finding.keywords.length - 1 && i < 4) {%>, <% } %> 
				<% }} %>
				<% if(finding.keywords.length > 5) { %>...<%}%>
			<% } %>
		</div>
		<h4><%= finding.title %></h4>
		<p>Posted by:
			<span class="fThumbPostedBy"><%= finding.postAuthor %></span>
			<span class="fThumbDate">Posted <%= finding.datePosted %></span>
		</p>
	</div>

<% }); %>

<% include partials/footer %>
