<% include ../partials/header %>

<h4>Private user profile for <%= user.username %></h4>

<h4>Account type : 
	<% if(user.isAdministrator) { %>
		Administrator
	<% } else if(user.isVerifiedScientist) { %>
		Scientist (verified)
	<% } else if(user.isScientist) { %>
		Scientist (pending verification)
	<% } else { %>
		Regular user
	<% } %>		
</h4>

<hr />

<form action="/forgot" method="POST">
	<h4>Change account password by email</h4>
	<input type="hidden" name="email" type="email" value="<%= user.email %>">
	<button class="btn btn-primary">Send email</button>
</form>

<hr />

<form action="/users/<%= currentUser.username %>?_method=PUT" method="POST" id="updateUserForm">

	<input type="hidden" name="user[_id]" form="updateUserForm" value="<%= user._id %>">		

	<% if(admin) { %>
		<input type="hidden" name="user[isScientist]" form="updateUserForm" value="0">		
		<input type="checkbox" name="user[isScientist]" form="updateUserForm" <% if(user.isScientist){ %>checked<% } %>>		
		<label for="user[isScientist]"><h5>User is a Scientist</h5></label>
		<input type="hidden" name="user[isVerifiedScientist]" form="updateUserForm" value="0">
		<input type="checkbox" name="user[isVerifiedScientist]" form="updateUserForm" <% if(user.isVerifiedScientist){ %>checked<% } %>>
		<label for="user[isVerifiedScientist]"><h5>User is a Verified Scientist</h5></label>
	<% } %>

	<h4>Public bio (optional, visible to all users)</h4>
	<textarea id="publicBioTextArea" class="publicBio" name="user[publicBio]" form="updateUserForm" placeholder="<%= user.publicBio %>"><%= user.publicBio %></textarea>
	<button class="btn btn-primary" form="updateUserForm" value="submit" id="submitBtn">Update</button>
</form>

<hr />

<% if(findings.total > 0) { %>
	<h4><%= findings.total %> Finding<% if(findings.total > 1) { %>s<% } %> posted : </h4>

<% include ../partials/paginationDiv %>

<% include ../partials/findingsindex %>

<% include ../partials/paginationDiv %>

<% } %>

<% include ../partials/footer %>